.Overview {}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3em;
  font-size: 0.7em;
}

tr:nth-child(even) {
  background: #fff
}

th {
  background: #f9d10a;
  padding: 14px 20px 14px 6px;
  font-weight: bold;
  text-align: right;
}

th:nth-child(1), th:nth-child(2) {
  text-align: left;
  padding-right: 6px;
}

td {
  padding: 10px 20px 8px 6px;
  border-bottom: 1px #e2e3e7 solid;
  margin: 0;
  text-align: right;
}

td span.red  {
  color: #ff0000;
}

td span.green {
  color: #00ff00;
}

tr:hover td {
  background: #b8b8b8;
}

td:nth-child(2) {
  text-align: left;
  padding-right: 6px;
}

@media (min-width: 630px) {
  table {
    font-size: 0.8em;
  }
}

@media (min-width: 760px) {
  table {
    font-size: 1em;
  }
}
